<%= form_for @post do |f| %>
    <%# <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
    <div class="field">
    <%= f.text_area :content, placeholder: "What's hapening ..." %>
    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>