// Alert
.alert-container {
    position: absolute;
    z-index: 999999;
    width: 100%;
    top: 1rem;

    .alert {
        width: 50%;
        margin: auto;
    }
}

// Header
header {
    position: sticky;
    top: -3rem;
    z-index: 9999;
    background-color: white;
    border-bottom: 1px solid #ecebee;

    .container {
        height: 3rem;
        max-width: 600px;
        padding: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.top {
            justify-content: left;

            .avatar {
                width: 2rem;
                padding: 0;
                height: 2rem;
            }

            h1 {
                font-size: 2rem;
                font-weight: bold;
                margin: 0;
            }
        }
    }

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;

        font-size: 1rem;
        font-weight: bold;
    }
}

// Feed
main {
    min-height: 100vh;
    max-width: 600px;
    margin: auto;
    padding: 1rem 0;

    background-color: #f3f3f5;

    border-left: 2px solid #ecebee;
    border-right: 2px solid #ecebee;


    .timeline_container {
        padding: 1rem 2rem;
    }
}