// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user {
    display: flex;
    height: 50px;

    img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }

    p {
        margin: 0;
        margin-left: 1rem;
        font-weight: bold;
    }
}